<div class="h-[20rem] bg-yellow flex justify-center items-end">
  <div class="max-w-2xl w-full relative m-14">
    <img
      src="../../assets/images/pokeball.webp"
      class="absolute inset-y-5 left-4 flex items-center pl-3 h-auto w-[60px]"
      alt=""
    />

    <input
      type="text"
      class="h-20 py-3 px-24 block w-full focus:outline-none border-2 placeholder-grey border-white rounded-full text-2xl focus:border-grey bg-light-grey"
      placeholder="Username"
      (change)="setUserName($event)"
      (keydown.enter)="login()"
    />

    <div class="absolute inset-y-0 right-0 flex items-center pr-3">
      <button
        class="w-14 h-14 bg-purple rounded-full bg-yellow"
        (click)="login()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="50"
          height="50"
          fill="currentColor"
          class="bi bi-arrow-right-short"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
