<header
  class="flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full text-sm py-4 bg-yellow"
>
  <nav
    class="max-w-[85rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between"
    aria-label="Global"
  >
    <a class="flex-none text-xl font-semibold dark:text-white" href="/pokedex"
      ><img src="../assets/images/pokemonlogo.png" class="w-[15rem]" alt=""
    /></a>

    <span
      class="inline-flex items-center justify-center h-[3.875rem] w-[3.875rem] rounded-full bg-white shadow-sm"
    >
      <span class="text-lg font-medium text-black leading-none">AC</span>
    </span>
  </nav>
</header>
