<div>
  <div class="">
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2
        class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white"
      >
        Gen 3
      </h2>
    </div>

    <div
      class="bg-yellow mx-24 rounded-xl overflow-auto max-h-[40em] mb-10 min-h-[40em]"
    >
      <!-- Header -->
      <div
        class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200 dark:border-gray-700"
      >
        <!-- Input -->
        <div class="sm:col-span-1">
          <label for="hs-as-table-product-review-search" class="sr-only"
            >Search</label
          >
          <div class="relative">
            <input
              type="text"
              id="hs-as-table-product-review-search"
              name="hs-as-table-product-review-search"
              class="py-2 px-3 pl-11 block w-full border-gray-200 shadow-sm rounded-md text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
              placeholder="Search"
            />
            <div
              class="absolute inset-y-0 left-0 flex items-center pointer-events-none pl-4"
            >
              <svg
                class="h-4 w-4 text-gray-400"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                />
              </svg>
            </div>
          </div>
        </div>
        <!-- End Input -->

        <div class="sm:col-span-2 md:grow">
          <div class="flex justify-end gap-x-2">
            <div
              class="hs-dropdown relative inline-block [--placement:bottom-right]"
              data-hs-dropdown-auto-close="inside"
            >
              <button
                (click)="onFilterClick()"
                id="hs-as-table-table-filter-dropdown"
                type="button"
                class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800"
              >
                <svg
                  class="w-3 h-3"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
                  />
                </svg>
                Filter
              </button>
              <div
                class="hs-dropdown-menu absolute {{
                  filterHidden
                }} divide-y divide-gray-200 min-w-[12rem] z-10 bg-white shadow-md rounded-lg mt-2 dark:divide-gray-700 dark:bg-gray-800 dark:border dark:border-gray-700"
                aria-labelledby="hs-as-table-table-filter-dropdown"
              >
                <div class="divide-y divide-gray-200 dark:divide-gray-700">
                  <form>
                    <div *ngFor="let gen of genList">
                      <label for="{{ gen }}" class="flex py-2.5 px-3">
                        <input
                          (click)="onFilterElementClick(gen)"
                          type="checkbox"
                          class="shrink-0 mt-0.5 border-gray-200 rounded text-blue-600 pointer-events-none focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                          id="{{ gen }}"
                          value="{{ gen }}"
                        />
                        <span
                          class="ml-3 text-sm text-gray-800 dark:text-gray-200"
                          >Gen: {{ gen }}</span
                        >
                      </label>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Header -->

      <div class="flex flex-row flex-wrap gap-32 justify-center">
        <div *ngFor="let pokemon of pokemons" class="h-52 pt-10">
          <div class="bg-white">
            <div class="flex justify-end bg-pokedexImageBackground">
              <button
                (click)="addPokemon(pokemon)"
                title="Add Pokemon"
                class="relative justify-items-end"
              >
                <img src="./assets/images/addPokemon.png" class="h-10" />
              </button>
            </div>
            <img
              class="h-44 bg-pokedexImageBackground mt-0"
              src="{{ imageUrl }}/{{ pokemon.id }}.png"
              alt="Image Description"
            />
            <div class="pb-3">
              <p>#{{ pokemon.id }}</p>
              <h3
                class="font-medium text-gray-800 dark:text-gray-200 text-3xl pl-4"
              >
                {{ pokemon.name }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
