<div
  class="w-full bg-yellow min-h-screen mx-auto my-20 max-w-[60rem] flex flex-col items-center rounded-lg"
>
  <h1 class="text-2xl text-black font-bold mt-10">Catched pokemons!</h1>

  <div class="flex gap-10 flex-wrap items-center justify-center m-10">
    <app-pokemon-display></app-pokemon-display>
    <app-pokemon-display></app-pokemon-display>
    <app-pokemon-display></app-pokemon-display>
    <app-pokemon-display></app-pokemon-display>
    <app-pokemon-display></app-pokemon-display>
    <app-pokemon-display></app-pokemon-display>
    <app-pokemon-display></app-pokemon-display>
    <app-pokemon-display></app-pokemon-display>
    <app-pokemon-display></app-pokemon-display>
  </div>
</div>
