/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-image: url(./assets/images/pojemonbackgorund.png);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}